<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../img/logo.png">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>

<body>
        <div class="admin-section admin-section2">
            <div class="admin-section-column">
                <div class="admin-section-panel admin-section-panel4">
                    <div class="admin-panel-section-header">
                        <h2>List Employees</h2>
                    </div>
                    <table cellpadding="10" cellspacing="10" border="1" style="width: 100%;">
                        <tr class="header">
                            <td>ID</td>
                            <td>Name</td>
                            <td>Phone</td>
                            <td>Gender</td>
                            <td>Job</td>
                            <td>Action</td>
                        </tr>
                        <tbody id="tbody">
                            {{#each resultArray}}
                                <tr class="item">
                                    <td>{{idnv}}</td>
                                    <td>{{name}}</td>
                                    <td>{{phone}}</td>
                                    <td>{{gender}}</td>
                                    <td>{{role}}</td>
                                    <td >
                                        <button onclick="handleModalEdit('{{idnv}}','{{name}}','{{phone}}','{{gender}}','{{role}}')" class="btn btn-primary" data-toggle="modal" data-target="#edit-employee">Edit</button> | 
                                        <button onclick="handleModalDel('{{idnv}}','{{name}}')" class="btn btn-danger" data-toggle="modal" data-target="#modalDel" >Delete</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="admin-section-column">
                <div class="admin-section-panel admin-section-panel2">
                    <div class="admin-panel-section-header">
                        <h2>Employees</h2>
                    </div>
                    <form  method="post" action="/admin/employee"  >
                        <label for="employeeName">Name: </label>
                        <input id="employeeName" placeholder="Name" type="text" name="name" >
                        <label for="employeePhone">Phone: </label>
                        <input  id="employeePhone" placeholder="Phone" type="text" name="phone" >
                        <label for="employeeGender">Gender: </label>
                        <input  id="employeeGender" placeholder="Gender" type="text" name="gender" >
                        <label for="employeeRole">Role: </label>
                        <input  id="employeeRole" placeholder="Role" type="text" name="role" >
                        <button type="submit"  class="form-btn">Add Employee</button>
                    </form>
                </div>
            </div>
        </div>

    <!-- Delete Confirm Modal -->
    <div id="modalDel" class="modal fade" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <hp class="modal-title">Delete employee</hp>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure want to delete employee name: <strong class="employee-delete-name">Nguyen Thi Tu</strong> ?</p>
                </div>
                <div class="modal-footer">
                    <form action="/admin/employee/delete" method="post">
                        <input type="hidden" name="inputIdDel" id="inputIdDel">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btn-del-employee" type="submit" class="btn btn-danger" >Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Confirm Modal -->
    <div id="edit-employee" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <hp class="modal-title">Edit infomation employee</hp>
                    <button type="button" class="close" data-dismiss="modal" >&times;</button>
                </div>
                <form method="post" action="/admin/employee/edit">
                    <input type="hidden" id="inputIdEdit" name="inputIdEdit">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="employeeName">Name: </label>
                            <input class="form-control" id="employeeNameEdit" placeholder="Name" type="text" name="name" >
                        </div>
                        <div class="form-group">
                            <label for="employeePhone">Phone: </label>
                            <input class="form-control"  id="employeePhoneEdit" placeholder="Phone" type="text" name="phone" >
                        </div>
                        <div class="form-group">
                            <label for="employeeGender">Gender: </label>
                            <input class="form-control"  id="employeeGenderEdit" placeholder="Gender" type="text" name="gender" >
                        </div>
                        <div class="form-group">
                            <label for="employeeRole">Role: </label>
                            <input class="form-control"  id="employeeRoleEdit" placeholder="Role" type="text" name="role" >
                        </div>
                        <div class="form-group">
                            <button id="btn-edit-employee" type="submit" class="btn btn-primary px-5 mr-2">Edit</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>

    <script src="/javascripts/jquery-3.3.1.min.js "></script>
    <script src="/javascripts/owl.carousel.min.js "></script>
    <script src="/javascripts/script.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    
    function handleModalDel(id,name){
        console.log(id);
        $('.employee-delete-name').html(name);
        $('#inputIdDel').val(id);
    }    

    //sửa(update)
    function handleModalEdit(id,name,phone,gender,role){
        console.log(id,name,phone,gender,role);
        $('#employeeNameEdit').val(name);
        $('#employeePhoneEdit').val(phone);
        $('#employeeGenderEdit').val(gender);
        $('#employeeRoleEdit').val(role);
        $('#inputIdEdit').val(id);
        
    }
    
    </script>
</body>

</html>