<div class="admin-section admin-section2">
    <div class="admin-section-column">
        <div class="admin-section-panel admin-section-panel4">
            <div class="admin-panel-section-header">
                <h2>List Map</h2>
            </div>
            <table class="text-center" cellpadding="10" cellspacing="10" border="1" style="width: 100%;">
                <tr class="header">
                    <td>ID</td>
                    <td>Row</td>
                    <td>Column</td>
                    <td>Action</td>
                </tr>
                <tbody id="tbody">
                    {{#each mapList}}
                    <tr class="item">
                        <td>{{id}}</td>
                        <td>{{numrow}}</td>
                        <td>{{numcolumn}}</td>
                        <td><button class="btn btn-primary mr-3" onclick="handleModalEdit('{{id}}','{{numrow}}','{{numcolumn}}')" data-toggle="modal"
                                data-target="#edit-hall">Edit</a>
                                <button class="btn btn-danger" onclick="handleModalDel('{{id}}')" data-toggle="modal"
                                    data-target="#delete-hall">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="admin-section-column">
        <div class="admin-section-panel admin-section-panel2">
            <div class="admin-panel-section-header">
                <h2>Map</h2>
            </div>
            <form id="add-hall-form" method="post">
                <label for="hallName">Row: </label>
                <input id="colNum" placeholder="0" type="number" name="rowNum" value="0" min="0" max="24" required>
                <label for="hallChairs">Column: </label>
                <input id="rowNum" placeholder="0" type="number" name="colNum" value="0" min="0" required>
                <button type="submit" class="form-btn">Add Hall</button>
            </form>
        </div>
        <div class="admin-section-panel admin-section-panel2" id="preview-map"
            style="position: absolute;width: fit-content;transform: translateX(-50%);">
            <div class="admin-panel-section-header">
                <h2>Preview blueprint</h2>
            </div>
            <div class="seat-container">
                <div class="screen"></div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirm Modal -->
<div id="delete-hall" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <hp class="modal-title">Delete map</hp>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to delete map: <strong class="hall-delete-name">Map</strong> ?</p>
            </div>
            <div class="modal-footer">
                <form action="/admin/map/delete" method="post">
                        <input type="hidden" name="inputIdDel" id="inputIdDel">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btn-del-hall" type="submit" class="btn btn-danger" >Delete</button>
                     </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Confirm Modal -->
<div id="edit-hall" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <hp class="modal-title">Chỉnh sửa thông tin nhân viên</hp>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" id="update-form" action="/admin/map/edit">
                    <input type="hidden" id="inputIdEdit" name="inputIdEdit">

                <div class="modal-body">
                    <div class="form-group">
                            <label for="rowNumEdit">Row: </label>
                            <input class="form-control" id="rowNumEdit" placeholder="0" type="number" name="rowNum" value="0" min="0" max="24" required>

                        </div>
                        <div class="form-group">
                            <label for="colNumEdit">Column: </label>
                            <input class="form-control" id="colNumEdit" placeholder="0" type="number" name="colNum" value="0" min="0" required>

                        </div>
                    <div class="form-group">
                        <button id="btn-edit-hall" type="submit" class="btn btn-primary px-5 mr-2">Sửa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function handleModalDel(id ) {
        $('.hall-delete-name').html(id);
        $('#inputIdDel').val(id);
    }
    //sửa(update)
    function handleModalEdit(id,numrow,numcol) {
        $('#rowNumEdit').val(numrow);
        $('#colNumEdit').val(numcol);
        $('#inputIdEdit').val(id);

    }
</script>
<script>
    const previewMap = document.querySelector("#preview-map")
    const seatContainer = document.querySelector('.seat-container')
    const colNum = document.querySelector('#colNum')
    const rowNum = document.querySelector('#rowNum')



    function checkRowAndColIsValid() {
        const colValue = +colNum.value
        const rowValue = +rowNum.value
        console.log(colValue < 1 || rowValue < 1)
        if (colValue < 1 && rowValue < 1) {
            previewMap.style.display = "none"
        } else {
            previewMap.style.display = ""
        }
        return colValue < 1 && rowValue < 1
    }

    checkRowAndColIsValid()

    colNum.addEventListener('input', () => {
        if (!checkRowAndColIsValid()) createPreviewMap()
    })

    rowNum.addEventListener('input', () => {
        if (!checkRowAndColIsValid()) createPreviewMap()
    })

    function createPreviewMap() {
        let labelRow = ""
        let mapBody = ""

        for (let i = 0; i < rowNum.value; i++) {
            labelRow += `
            <div class="order">${i + 1}</div>
            `;
        }
        for (let i = 0; i < colNum.value; i++) {
            let wrapper = `
            <div class="order">${(i + 10).toString(36).toUpperCase()}</div>
            `
            let bodyMain = ""
            for (let j = 0; j < rowNum.value; j++) {
                bodyMain += `
                <div class="seat"></div>
                `
            }
            mapBody += `
            <div class="row">
                ${wrapper + bodyMain + wrapper}
            </div>
            `
        }
        const result = `
            <div class="row" id="row-titles">
                ${labelRow}
            </div> 
            ${mapBody}
        `
        seatContainer.innerHTML = ""
        seatContainer.insertAdjacentHTML('beforeend', result)
    }
</script>