<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../img/logo.png">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>

<body>
        <div class="admin-section admin-section2">
            <div class="admin-section-column">
                <div class="admin-section-panel admin-section-panel4">
                    <div class="admin-panel-section-header">
                        <h2>List Products</h2>
                    </div>
                    <table cellpadding="10" cellspacing="10" border="1" style="width: 100%;">
                        <tr class="header">
                            <td>ID</td>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Picture</td>
                        </tr>
                        <tbody id="tbody">
                            {{#each resultArray}}
                                <tr class="item">
                                    <td>{{idsp}}</td>
                                    <td>{{name}}</td>
                                    <td>{{price}}</td>
                                    <td>
                                        <img style="max-width: 50px;" src="/images/popcorn/{{picture_path}}" alt="{{name}}" />
                                    </td>
                                    <td >
                                        <button onclick="handleModalEdit('{{idsp}}','{{name}}','{{price}}','{{picture_path}}')" class="btn btn-primary" data-toggle="modal" data-target="#edit-product">Edit</button> | 
                                        <button onclick="handleModalDel('{{idsp}}','{{name}}')" class="btn btn-danger" data-toggle="modal" data-target="#modalDel" >Delete</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="admin-section-column">
                <div class="admin-section-panel admin-section-panel2">
                    <div class="admin-panel-section-header">
                        <h2>Products</h2>
                    </div>
                    <form  method="post" action="/admin/product"  enctype="multipart/form-data" >
                        <label for="productName">Name: </label>
                        <input id="productName" placeholder="Name" type="text" name="name" >
                        <label for="productPrice">Price: </label>
                        <input  id="productPrice" placeholder="Price" type="text" name="price" >
                        <label for="customFile">Picture:</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="image">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <button type="submit"  class="form-btn">Add Product</button>
                    </form>
                </div>
            </div>
        </div>

    <!-- Delete Confirm Modal -->
    <div id="modalDel" class="modal fade" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <hp class="modal-title">Delete product</hp>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                    <p>Are you sure want to delete product: <strong class="product-delete-name">Popcorn</strong> ?</p>
                </div>
                <div class="modal-footer">
                    <form action="/admin/product/delete" method="post">
                        <input type="hidden" name="inputIdDel" id="inputIdDel">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btn-del-product" type="submit" class="btn btn-danger" >Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Confirm Modal -->
    <div id="edit-product" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <hp class="modal-title">Edit infomation product</hp>
                    <button type="button" class="close" data-dismiss="modal" >&times;</button>
                </div>
                <form method="post" action="/admin/product/edit" enctype="multipart/form-data">
                    <input type="hidden" id="inputIdEdit" name="inputIdEdit">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="productName">Name: </label>
                            <input class="form-control" id="productNameEdit" placeholder="Name" type="text" name="name" >
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Price: </label>
                            <input class="form-control"  id="productPriceEdit" placeholder="Price" type="text" name="price" >
                        </div>
                        <div class="form-group">
                            <label for="customFile">Picture:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="image">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <div class="form-group">

                            <button id="btn-edit-product" type="submit" class="btn btn-primary px-5 mr-2">Edit now</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>

    <script src="/javascripts/jquery-3.3.1.min.js "></script>
    <script src="/javascripts/owl.carousel.min.js "></script>
    <script src="/javascripts/script.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // Add the following code if you want the name of the file appear on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
      </script>
    <script>
    
    //xóa
    function handleModalDel(id,name){
        console.log(id);
        $('.product-delete-name').html(name);
        $('#inputIdDel').val(id);
    }    

    //sửa(update)
    function handleModalEdit(id,name,price,picture_path){
        console.log(id,name,price,picture_path);
        $('#productNameEdit').val(name);
        $('#productPriceEdit').val(price);
        $('#inputIdEdit').val(id);
        
    }
    
    </script>
</body>

</html>