<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="/stylesheets/style2.css" />
	<link rel="icon" type="image/png" href="/images/logo.png" />
    
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<title>{{title}}</title>
</head>

<body>
	{{#if flash}}
	<div class="text-center alert alert-dismissible alert-{{flash.type}}">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{flash.intro}}</strong>
		{{flash.message}}
	</div>
	{{/if}}
     {{#if isAdmin}}
		<div class="admin-section-header">
			<div class="admin-logo">
				<i class="fas fa-video"></i>
				ESDC Cinema System
			</div>
			<div class="admin-login-info">
				<a href="#">Welcome, Admin</a>
				<img class="admin-user-avatar" src="/images/avatar.png" alt="">
			</div>
		</div>
		<div class="admin-container">
			<div class="admin-section admin-section1 ">
				<ul>
					<a href="/admin"><li class="{{#checkPath routerPath ""}}active-menu{{/checkPath}}" ><i class="fas fa-sliders-h"></i>Dashboard</li></a>
					<a href="/admin/bookings"><li class="{{#checkPath routerPath "admin/bookings"}}active-menu{{/checkPath}}"><i class="fas fa-ticket-alt"></i>Bookings </i></li></a>
					<a href="/admin/maps"><li class="{{#checkPath routerPath "admin/maps"}}active-menu{{/checkPath}}"><i class="fa fa-map"></i>Blueprint </i></li></a>
					<a href="/admin/movies"><li class="{{#checkPath routerPath "admin/movies"}}active-menu{{/checkPath}}"><i class="fas fa-film"></i>Movies </li></a>
					<a href="/admin/rooms"><li class="{{#checkPath routerPath "admin/rooms"}}active-menu{{/checkPath}}"><i class="fas fa-video"></i>Rooms</li></a>
					<a href="/admin/employee"><li class="{{#checkPath routerPath "admin/employee"}}active-menu{{/checkPath}}"><i class="fas fa-user-tie"></i>Employee</li></a>
					<a href="/admin/product"><li class="{{#checkPath routerPath "admin/product"}}active-menu{{/checkPath}}"><i class="fa-solid fa-bowl-food"></i>Product</li></a>
					<a href="/admin/news"><li class="{{#checkPath routerPath "admin/news"}}active-menu{{/checkPath}}"><i class="fa-solid fa-newspaper"></i>News</li></a>
					<a href="/admin/promotion"><li class="{{#checkPath routerPath "admin/promotion"}}active-menu{{/checkPath}}"><i class="fa-solid fa-percent"></i>Promotion</li></a>
				</ul>
			</div>
			{{{body}}}
		</div>
		{{else}}
    {{{body}}}

	{{/if}}

</body>
<script src="/javascripts/jquery-3.3.1.min.js "></script>
<script src="/javascripts/script.js "></script>

</html>