<section class="index-poster">
</section>
<section id="home-section-1" class="movie-show-container">
  <h1>Recommend for you</h1>
  <h3>Book a movie now</h3>

  <div class="movies-container">
    {{#each context}}
      <div class="movie-box">
        <img src="images/poster/{{img}}" alt="{{title}}" />
        <div class="movie-info">
          <h3>{{title}}</h3>
          <div class="movie-btn">
            <a
              style="display: block;"
              href="/movie-detail?id={{id}}"
            ><i class="fas fa-eye"></i> View detail</a>
            <a
              style="display: block;"
              href="/booking?id={{id}}"
            ><i class="fas fa-ticket-alt"></i> Book now</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</section>