<div class="schedule-panel">
  <h1 class="title"><i class="far fa-clock"></i> Schedule</h1>
  {{#each scheduleDateList}}
    {{#each this}}
    <div class="schedule-session">
      <div class="schedule-date font-weight-bold">{{this.date}}</div>
      <div class="hall-type">
      {{#each list}}
        <div class="schedule-item">{{start}}</div>
      {{/each}}
      </div>
    {{/each}}
    </div>
  {{/each}}
</div>
<div class="booking-panel">
  <div class="booking-panel-section booking-panel-section1">
    <h1>MOVIE DETAIL</h1>
  </div>
  <div
    class="booking-panel-section booking-panel-section2"
    onclick="window.history.go(-1); return false;"
  >
    <i class="fas fa-2x fa-times"></i>
  </div>
  <div class="booking-panel-section booking-panel-section3">
    <div class="movie-box">
      <img
        src="images/poster/{{movieData.poster_path}}"
        alt="{{movieData.title}}"
      />
    </div>
  </div>
  <div class="booking-panel-section booking-panel-section4">
    <div class="title">{{movieData.title}}</div>
    <div class="movie-information">
      <table>
        <tr>
          <td>Overview</td>
          <td>{{movieData.overview}}</td>
        </tr>
        <tr>
          <td>RELEASE DATE</td>
          <td>{{movieData.release_date}}</td>
        </tr>
        <tr class="font-weight-bold">
          <td><i class="far fa-clock"></i></td>
          <td>{{movieData.duration}} mins</td>
        </tr>
        <tr>
          <td class="text-danger">IMDb</td>
          <td class="imdb">{{movieData.vote_average}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
